:root {
  --text: #e6ecf3;
  --background: #0c1118;
  --primary: #9db7ce;
  --secondary: #333567;
  --accent: #6a5cae;
}

body {
  background-color: var(--secondary);
}

.question-s {
  height: 100vh;
}

.question {
  background-color: var(--primary);
  border-radius: 10px;
}

.ans h5 {
  background-color: var(--accent);
  border-radius: 10px;
}

.ans h5:hover {
  cursor: pointer;
  background-color: #55498d;
}

.side {
  background-color: var(--primary);
  height: 100vh;
}

.flag {
  cursor: pointer;
}

